.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.line {
  width: 1px;
  height: 421px;
  background-color: #d3d3d3;
}
.block {
  width: 430px;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper {
  position: relative;
  width: 100%;
  p {
    font-weight: 600;
    color: #646464;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    outline: none;
    border: 1px solid #d3d3d3;
    background: #f6f6f6;
    font-size: 16px;
    padding: 6px 20px;
    font-family: inherit;
  }
}
.err {
  position: absolute;
  top: 0;
  right: 0;
  color: #cc3300;
  font-size: 13px;
}
.next {
  &:hover {
    background-color: var(--red);
    color: #fff !important;
  }
}

@media (max-width: 650px) {
  .line {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .block {
    width: 100%;
  }
  .title {
    margin-bottom: 40px;
  }
}
