.wrapper {
  padding: 88px 0;
  background-color: #fff;
}
.contacts {
  display: flex;
  background-color: var(--text-black);
}
.left {
  width: 50%;
  padding: 82px 62px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 38px;
  &:first-child {
    margin-bottom: 30px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
}
.list__item {
  display: flex;
  align-items: center;
  gap: 16px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.right {
  width: 50%;
  background-color: gray;
}
