.wrapper {
  padding: 88px 0;
  background-color: #fff;
  color: var(--text-black);
}
.center {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 16px;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--red);
  margin-bottom: 34px;
}
.banner {
  position: relative;
  min-height: 190px;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    margin: 0 40px;
    max-width: 600px;
    position: relative;
    z-index: 10;
    line-height: 1.2;
  }
}
.desc {
  margin-bottom: 50px;
  line-height: 1.2;
}
.switch {
  display: flex;
  border-bottom: 1px solid var(--gray);
  p {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 4px solid transparent;

    &.active {
      border-bottom: 4px solid var(--red);
      color: var(--red);
    }
  }
  margin-bottom: 50px;
}
.form {
  & > p {
    font-size: 20px;
    margin-bottom: 28px;
  }
}
.form__row {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
.left {
  width: 648px;
}
.field {
  p {
    margin-bottom: 8px;
  }
  textarea {
    display: block;
    width: 100%;
    resize: none;
    font-family: inherit;
    border: 4px solid var(--text-black);
    outline: none;
    font-size: 18px;
    padding: 5px 15px;
    &:focus {
      filter: brightness(92%);
    }
  }
}
.check {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
  span {
    color: var(--red);
  }
}
.right {
  flex: 1;
  height: 440px;
  min-width: 280px;
  background-color: gray;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
