.field {
  position: relative;
  p {
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 0 15px;
    outline: none;
    border-radius: 0;
    font-family: inherit;
    border: 4px solid var(--text-black);
    transition: 0.3s;
    &:focus {
      filter: brightness(92%);
    }
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.field__err {
  input {
    border-color: var(--err);
  }
}

.err {
  position: absolute;
  right: 0;
  bottom: -22px;
  color: var(--err);
  font-size: 10px;
}

.icon {
  position: absolute;
  right: 16px;
  bottom: 8px;
  opacity: 0.2;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.5;
  }
}
