.wrapper {
  padding: 88px 0;
  color: var(--text-black);
  background-color: #fff;
  background-image: url(../../assets/reviews/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subtitle {
  max-width: 892px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 70px;
}
